# General
.DS_Store
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebooks
.ipynb_checkpoints

# Data
# Ignore everything in data/ except .gitkeep files if they exist
data/
ztf_cleansed.csv

# Runs
# Ignore generated run outputs
runs/

# Outputs
# Ignore generated outputs
outputs/

# API Tokens
.lasair_token
*.csv
ztf_cleansed.csv
!tns_data.csv
